In [162]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools as itt
from collections import Counter

In [163]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015

In [164]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [171]:
answers = {} # создадим словарь для ответов

data['profit']= data.revenue - data.budget 


def word(s): 
    #функция для подсчета слов
    s=s.split()
    l=len(s)
    return l

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [13]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [211]:
answers['1']='723.Pirates of the Caribbean: On Stranger Tides (tt1298650)'
data[data.budget == data.budget.max()].original_title
#+

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [165]:
data.groupby(['original_title'])[['budget']].mean().sort_values(['budget'], ascending=False)['budget'].index[0] 
# я знаю, что это немного криво и mean() тут выглядит странно, но без аггрегирующей функции groupby  не работает =)

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [212]:
answers['2']='1157. Gods and Generals (tt0279111)'
data[data.runtime == data.runtime.max()].original_title
#+

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [213]:
answers['3']= '768. Winnie the Pooh (tt1449283)'
data[data.runtime == data.runtime.min()].original_title
#+

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [214]:
answers['4']=round(data.runtime.mean())
#+

# 5. Каково медианное значение длительности фильмов?

In [215]:
answers['5']=data.runtime.median()
#+

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [216]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6']='239. Avatar (tt0499549)'
data[data.profit == data.profit.max()].original_title
#+

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [217]:
answers['7']='1245. The Lone Ranger (tt1210819)'
data[data.profit == data.profit.min()].original_title
#+

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [218]:
answers['8']=len(data[data.revenue > data.budget])
#+

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [220]:
answers['9']='599. The Dark Knight (tt0468569)'
#+
movies_2008=data[data.release_year == 2008]
movies_2008[movies_2008.profit == movies_2008.profit.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [221]:
answers['10']='1245. The Lone Ranger (tt1210819)'
#+
movies_2012_2014=data[(data.release_year == 2012)|
                     (data.release_year == 2013)|
                     (data.release_year == 2014)]
movies_2012_2014[movies_2012_2014.profit == movies_2012_2014.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [166]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
import collections
c = collections.Counter()
tb_genres=[]

for genres in data.genres:
    g_list=genres.split('|')
    
    for genre in g_list:
        tb_genres.append(genre)

for tb_genre in tb_genres:
    c[tb_genre]+=1

    
c.most_common(1)


#+

[('Drama', 782)]

ВАРИАНТ 2

In [224]:
df_genres=data.genres.str.cat(sep= '|')
df_genres=pd.Series(df_genres.split('|'))
df_genres=df_genres.value_counts()
answers['11']=df_genres.index[0]

#+

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [172]:
import collections
c = collections.Counter()
tb_genres=[]

for genres in data[data.profit>0].genres:
    g_list=genres.split('|')
    
    for genre in g_list:
        tb_genres.append(genre)

for tb_genre in tb_genres:
    c[tb_genre]+=1

c.most_common(1)

answers['12']='Drama'
#+

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [174]:
df_director=data.director.str.cat(sep= '|') #  превращаем нужный столбец в строку
director_list=pd.DataFrame(df_director.split(sep= '|'),columns=['director']) # превращаем строку в датафрейм
director_list=pd.DataFrame(director_list['director'].unique(),columns=['director']) #избавляемся от повторяющихся элементов

list_revenue=[]  #временный массив, куда будем складывать значения сборов


for director in director_list['director']:
    list_revenue.append(data[data.director.str.contains(director)].revenue.sum())
    
    
director_list['sum_revenue']=list_revenue

display(director_list[director_list.sum_revenue == director_list.sum_revenue.max()])

answers['13']='Peter Jackson'
#+

          director  sum_revenue
128  Peter Jackson   6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [175]:
df_director=data.director.str.cat(sep= '|') 
director_list=pd.DataFrame(df_director.split(sep= '|'),columns=['director'])
director_list=pd.DataFrame(director_list['director'].unique(),columns=['director'])

list_action=[]  

for director in director_list['director']:
    list_action.append(data[(data.director.str.contains(director)) & (data.genres.str.contains('Action'))].imdb_id.count())
    
director_list['Action_films']=list_action
display(director_list[director_list.Action_films == director_list.Action_films.max()])

answers['14']='Robert Rodriguez'
#+

             director  Action_films
190  Robert Rodriguez             9

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [176]:
data_2012=data[data.release_year==2012] 


df_actor=data_2012.cast.str.cat(sep= '|')
actor_list=pd.DataFrame(df_actor.split(sep= '|'),columns=['actor'])
actor_list=pd.DataFrame(actor_list['actor'].unique(),columns=['actor'])

list_revenues=[]

for actor in actor_list['actor']:
    list_revenues.append(data_2012[data_2012.cast.str.contains(actor)].revenue.sum())

actor_list['Revenues']=list_revenues
display(actor_list[actor_list.Revenues == actor_list.Revenues.max()])

answers['15']='Chris Hemsworth'
#+

             actor    Revenues
3  Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [177]:
high_budget=data[data.budget > data.budget.mean()]

df_actor=high_budget.cast.str.cat(sep= '|')
actor_list=pd.DataFrame(df_actor.split(sep= '|'),columns=['actor'])
actor_list=pd.DataFrame(actor_list['actor'].unique(),columns=['actor'])

list_budget=[]

for actor in actor_list['actor']:
    list_budget.append(high_budget[high_budget.cast.str.contains(actor)].imdb_id.count())

actor_list['Films_count']=list_budget
display(actor_list[actor_list.Films_count == actor_list.Films_count.max()])

answers['16']='Matt Damon'
#+

         actor  Films_count
34  Matt Damon           18

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [181]:
geners_list=data.genres.str.cat(sep= '|')
geners_list=pd.DataFrame(geners_list.split('|'),columns=['genre'])
geners_list=pd.DataFrame(geners_list['genre'].unique(),columns=['genre'])

list_nicolas=[]

for genre in geners_list['genre']:
    list_nicolas.append(data[(data.genres.str.contains(genre)) & data.cast.str.contains('Nicolas Cage')].imdb_id.count())

geners_list['Participation']=list_nicolas
display(geners_list[geners_list.Participation == geners_list.Participation.max()])

answers['17']='Action'
#+

    genre  Participation
0  Action             17

# 18. Самый убыточный фильм от Paramount Pictures

In [182]:
Paramount=data[data.production_companies.str.contains('Paramount Pictures')]
Paramount[Paramount.profit == Paramount.profit.min()].original_title

answers['18']='K-19: The Widowmaker'
#+

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [189]:
#Создаем сводную таблицу, в которой суммируем сборы по компаниям-производителям в каждом году
pivot = data.pivot_table(values=['revenue'],
index=['release_year'],
columns=['production_companies'],
aggfunc='sum',
fill_value=0) 

#Применяем еще одну аггрегирующую функцию, чтобы просуммировать общие сборы всех компаний за каждый год
revenue_years=pivot.agg('sum',axis=1) 
display(revenue_years[revenue_years == revenue_years.max()])

answers['19']=2015
#+

release_year
2015    25449202382
dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [190]:
#формируем датафрейм в котором есть только фильмы к производству которых причастна компания Warner Bros
Warner_Bros=data[data.production_companies.str.contains('Warner Bros')]

pivot = Warner_Bros.pivot_table(values=['profit'],
index=['release_year'],
columns=['production_companies'],
aggfunc='sum',
fill_value=0)

Warner_Bros_years=pivot.agg('sum',axis=1)
Warner_Bros_years[Warner_Bros_years == Warner_Bros_years.max()]

answers['20']=2014
#+

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [191]:
data['month']=data['release_date'].apply(lambda d:d.split('/')[0])


months_data=pd.Series(data.month)
months_count=months_data.value_counts()


list_month_str=['Январь','Февраль','Апрель','Март','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь']
list_month_str[int(months_count.index.max())-1] # -1 потому что "Январь" имеет индекс "0"

answers['21']=list_month_str[int(months_count.index.max())-1]
#+

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [192]:
#создаем новую колонку путем применения к колонке с датой релиза функции, которая вычленяет 1 элементо до знака "/", 
#является месяцем, потому что в датафрейме дата имеет американский формат
data['month']=data['release_date'].apply(lambda d:d.split('/')[0])


months_data=pd.Series(data.month)
months_count=months_data.value_counts()

total=months_count['6']+months_count['7']+months_count['8']

answers['22']=total
#+

# 23. Для какого режиссера зима – самое продуктивное время года?

In [202]:
#создаем новый датафрейм, который входят только зимние месяцы
winter_data=data[(data.month == '12')|
                 (data.month == '1')|
                 (data.month == '2')]

df_director=winter_data.director.str.cat(sep= '|')
director_list=pd.DataFrame(df_director.split(sep= '|'),columns=['director'])
director_list=pd.DataFrame(director_list['director'].unique(),columns=['director'])

winter_films=[]

for director in director_list['director']:
    winter_films.append(winter_data[(winter_data.director.str.contains(director))].imdb_id.count())
    
director_list['produced_films']= winter_films
director_list[director_list.produced_films==director_list.produced_films.max() ].director

answers['23']='Peter Jackson'
#+

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [197]:
data['title_length']=data['original_title'].apply(lambda s:len(s))

productors=data.production_companies.str.cat(sep= '|')
productors=pd.DataFrame(productors.split('|'),columns=['productor'])
productors=pd.DataFrame(productors['productor'].unique(),columns=['productor'])

length_list=[]

for productor in productors['productor']:
    length_list.append(data[data.production_companies.str.contains(productor)].title_length.mean())

productors['mean_length']=length_list
productors[productors.mean_length == productors.mean_length.max()].productor

answers['24']='Four By Two Productions'
#+

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [201]:
#Применяем функцию из предобработки
data['overview_length']=data['overview'].apply(word)

productors=data.production_companies.str.cat(sep= '|')
productors=pd.DataFrame(productors.split('|'),columns=['productor'])
productors=pd.DataFrame(productors['productor'].unique(),columns=['productor'])

length_list=[]

for productor in productors['productor']:
    length_list.append(data[data.production_companies.str.contains(productor)].overview_length.mean())

productors['mean_length']=length_list
productors[productors.mean_length == productors.mean_length.max()].productor

answers['25']='Midnight Picture Show'
#+

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [203]:
display(pd.Series(data.vote_average.tolist(),data.original_title.tolist()).sort_values(ascending= False).head(18))
# 18 потому что это 1 процент от общего числа строк в датафрейме)

answers['26']='Inside Out, The Dark Knight, 12 Years a Slave'
#+

The Dark Knight                                  8.1
The Imitation Game                               8.0
Inside Out                                       8.0
Interstellar                                     8.0
Room                                             8.0
The Lord of the Rings: The Return of the King    7.9
The Grand Budapest Hotel                         7.9
The Wolf of Wall Street                          7.9
Inception                                        7.9
Guardians of the Galaxy                          7.9
Memento                                          7.9
Gone Girl                                        7.9
The Pianist                                      7.9
12 Years a Slave                                 7.9
Mr. Nobody                                       7.8
There Will Be Blood                              7.8
The Lord of the Rings: The Two Towers            7.8
The Theory of Everything                         7.8
dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [209]:
list_of_actors=data.cast

#Создаем словарик, в котором значениями являются имена актеров, задействованных в фильме вместе
cast_list={}
i=0
for cast in list_of_actors:
    cast_list[i]=cast.split('|')
    i+=1

#Создаем пустой словарь, куда будем складировать пары актеров
actorpairs={}


for cast in  cast_list.values():  #Проходимся по актерам, задействованным в каждом отдельно взятом фильме
    for combination in itt.combinations(cast, 2): # Формируем возможные комбинации из актеров, задействованных в одном фильме
        cb=str(combination[0]+"|"+combination[1]) 
        
        if cb in actorpairs.keys():  # Если комбинация уже есть, то 
            actorpairs[cb]+=1
        else:
            actorpairs[cb]=1
            
df_couples=pd.DataFrame(actorpairs.values(),actorpairs.keys()).sort_values(0,ascending=False)
display(df_couples[df_couples[0]==df_couples[0].max()])

answers['27']='Daniel Radcliffe & Rupert Grint' # Чисто технически  еще и Daniel Radcliffe|Emma Watson, но такого варианта нет
#+

                               0
Daniel Radcliffe|Rupert Grint  8
Daniel Radcliffe|Emma Watson   8

# Submission

In [226]:
# в конце можно посмотреть свои ответы к каждому вопросу
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit,title_length,overview_length
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03,1889.000000,1889.000000
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08,15.037057,52.381154
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08,8.552660,26.589348
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08,1.000000,10.000000
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06,9.000000,32.000000
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07,13.000000,48.000000
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08,18.000000,67.000000
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09,83.000000,175.000000

In [225]:
# и убедиться что ни чего не пропустил)

#"ничего" пишется слитно, поправьте в шаблоне ноутбука=)

len(answers)

{'12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '1': '723.Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107.0,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama'}

27